.rz_table {
	width: 750px;
}

.rz_head,  .rz_footer {
	width:100%;
}

.rz_cls {
	clear:both;
}

.rz_player {
	height: 16px; 
	display: block;
	position: relative;
}

.rz_playerHTML {
	height: 16px; 
	display: inline-block;
	position: relative;
	left: 16px;
}

.rz_player  img{
	margin-right: 4px;
}
	
.rz_match {
	width:144px;
	height: 32px;
	display:inline-block; 
	margin:2px; 
	border:1px solid black; 
	background:#f5f4f3; 
	text-align:left;
	padding-top: 4px;
}

.rz_head .rz_round{
	width:80px; 
	display:inline-block; 
	position:relative; 
	background:#e3e0dd; 
	cursor:pointer; 
	border:1px solid #cccccc;
}

.rz_head .rz_round:hover {
	background:#cccccc;
}

.rz_rounds {
	width:100%; 
	background:#e3e0dd;
}

.rz_vs {
	display:inline-block;
	float:left;
	padding-top: 6px;
	text-align:center;
	width:16px;
	position: relative;
	z-index: 100;
}

.rz_prev {
	color:#000000;
	cursor:pointer;
	font-weight:bolder;
	display: inline-block;
	position: absolute;
	top: -3px;
	left: 16px;
	z-index: 100;
}

.rz_next {
	color: #000000;
	cursor: pointer;
	margin-top: 5px;
	position: absolute;
	margin-left: 130px;
	height: 16px;
	width: 16px;
	z-index: 100;
}

.rz_focus {
	margin:0px;
	border:3px solid #99cc99;
	background:#aaccaa;
}